html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@media (max-width: 1024px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

/*======Header Account=======*/
.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  background-color: #ffffff;
}

.rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin-right: 0.125em;
  border-left: 2px solid #F1F1F1;
}

.rounded__rectangle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33px;
  height: 18px;
  border-radius: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FD5272), to(#EA6D54));
  background: linear-gradient(0deg, #FD5272, #EA6D54);
  margin: 1.562em 1.187em 1.75em 1.25em;
}

.header__circle {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  margin-right: 0.062em;
}

.icon__folder {
  background: url(../img/header/folder.png) no-repeat center center;
  background-color: #ffffff;
  width: 59px;
  height: 71px;
  border-left: 1px solid #F1F1F1;
}

.icon__settings__2 {
  background: url(../img/header/settings.png) no-repeat center center;
  background-color: #ffffff;
  width: 59px;
  height: 71px;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
}

.header__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1.125em 11.687em;
  position: relative;
}

.header__input .input {
  width: 299px;
  height: 34px;
  border-radius: 30px;
  border: 1px solid #F1F1F1;
  padding: 0 1.875em 0 0.625em;
  color: #363636;
  outline: none;
  background-color: #F8F8F8;
}

.header__input .input__icon {
  background: url(../img/header/zoom-in.svg) center center no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0.625em;
  left: 26.875em;
}

.header__input .input::-webkit-input-placeholder {
  color: #C8C8C8;
}

.header__input .input:-ms-input-placeholder {
  color: #C8C8C8;
}

.header__input .input::-ms-input-placeholder {
  color: #C8C8C8;
}

.header__input .input::placeholder {
  color: #C8C8C8;
}

.icon__upload {
  background: url(../img/header/upload.png) no-repeat center center;
  background-color: #ffffff;
  width: 59px;
  height: 71px;
  border-left: 1px solid #F1F1F1;
}

.icon__envelope {
  background: url(../img/header/mail.png) no-repeat center center;
  background-color: #ffffff;
  width: 59px;
  height: 71px;
  border-left: 1px solid #F1F1F1;
}

.icon__planet-earth {
  background: url(../img/header/earth.png) no-repeat center center;
  background-color: #ffffff;
  width: 59px;
  height: 71px;
  border-left: 1px solid #F1F1F1;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account__foto {
  background: url(../img/header/user-foto.jpeg);
  width: 71px;
  height: 71px;
}

.photo__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  padding-left: 1.125em;
  width: 181px;
  height: 71px;
}

.name__user p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(10px + 0.21vw);
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  color: #FD5272;
  margin-bottom: 0.562;
}

.job__user p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: calc(10px + 0.05vw);
  font-family: 'Lato', sans-serif;
  color: #BFBFBF;
}

.signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ellipse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.account__circle {
  width: 6px;
  height: 6px;
  background: #BFBFBF;
  border-radius: 50%;
  margin-top: 0.125em;
}

/*======Header Account=======*/
.header--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 98px;
  background-color: #ffffff;
}

.statistics {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.statistics h4 {
  margin: 0;
  padding-top: 1.5vw;
  font-family: 'Lato', sans-serif;
  font-size: calc( 8px + 0.3vw);
  font-weight: 600;
  color: #777777;
}

.statistics p {
  margin-top: 9px;
  margin-bottom: 8px;
  font-family: 'Lato';
  font-size: calc(12px + 0.5vw);
  font-weight: 600;
  color: #FC6367;
}

.statistics .statistics--number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.figure {
  font-family: 'Lato';
  font-size: calc( 8px + 0.3vw);
  padding-left: 5px;
  font-weight: 600;
  color: #BFBFBF;
  position: relative;
}

.statistics :last-child p {
  padding-top: 2.5vw;
  font-size: calc( 8px + 0.3vw);
}

.triangles {
  position: relative;
  margin-right: 1vw;
}

.triangles::before {
  position: absolute;
  top: 0.5vw;
  left: -0.5vw;
  content: "";
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 6px solid #a889e9;
}

.triangles::after {
  position: absolute;
  top: 0.2vw;
  left: 2.4vw;
  content: "";
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #fd5670;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  height: 1000px;
  background: -webkit-gradient(linear, left bottom, left top, from(#FD5272), to(#EA6D54));
  background: linear-gradient(0deg, #FD5272, #EA6D54);
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 71px;
  width: 74px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #00000033;
          box-shadow: 0 0 10px #00000033;
}

.nav__text {
  margin: auto;
  font-family: 'Dancing Script', cursive;
  color: #FC6367;
  font-size: calc(18px + 2vw);
}

.nav__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 70px;
  padding-bottom: 0.625em;
  font-size: calc(10px + 0.1vw);
  color: #fff;
}

.nav__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 70px);
}

.nav .home {
  background: url(../img/nav/home.svg) no-repeat center;
}

.nav .stactics {
  background: url(../img/nav/bar-chart.svg) no-repeat center;
}

.nav .user {
  background: url(../img/nav/user.svg) no-repeat center;
}

.nav .settings {
  background: url(../img/nav/settings.svg) no-repeat center;
}

.nav .information {
  background: url(../img/nav/information.svg) no-repeat center;
}

.nav .button {
  margin-top: 45em;
  background: url(../img/nav/button.svg) no-repeat center;
}

.nav__link:hover {
  background-color: #ff6040;
}

.nav__link:hover::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 70px;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-left: 12px solid #ff6040;
  border-bottom: 6px solid transparent;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.187em;
}

/*--------Graphic---------*/
.top__monthly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 265px;
  margin-right: 1.2em;
  background: #ffffff;
}

.mouthly__graph--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.graph__thousands {
  list-style-type: none;
}

.graph__thousands li {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
  margin-bottom: 1.312em;
}

.graph__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 574px;
  height: 62px;
  margin-left: 1.25em;
  margin-bottom: 1.25em;
  background: url(../img/main/line-graphic.png) center center no-repeat;
}

.graph__months {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.graph__months li {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
  margin-left: 1.75em;
}

.monthly__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.monthly__menu h3 {
  color: #767676;
}

.monthly__menu .monthly__bottons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.monthly__menu .monthly__bottons .monthly__botton {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: calc(15px + 0.137vw);
  color: #BFBFBF;
  margin-right: 1.562em;
  border: none;
  background: none;
}

.monthly__menu .monthly__bottons :hover {
  border-radius: 50px/100px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background: linear-gradient(77deg, #fd5272 0%, #ea6d54 100%);
  color: #ffffff;
}

.monthly__menu .monthly__bottons .monthly__points {
  width: 5px;
  height: 18px;
  background: url(../img/header/header-ellipse.png) center center no-repeat;
}

/*--------Graphic---------*/
/*-----main Schedule----*/
.main__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.187em 0 0 1.187em;
}

.monthly__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 704px;
  height: 266px;
  margin-right: 1.187em;
  background-color: chartreuse;
  -webkit-box-shadow: 0 0 10px #00000033;
          box-shadow: 0 0 10px #00000033;
}

/*============Revenue========*/
.revenue__hour {
  width: 265px;
  padding-top: 1.937em;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #00000033;
          box-shadow: 0 0 10px #00000033;
  text-align: center;
}

.revenue__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 124px;
  height: 124px;
  border-radius: 90%;
  border: 8px solid #6a5bb4;
  background: #ededed;
  margin: 1.937em 4.375em;
}

.revenue__background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  background: #fff;
}

.revenue__currency {
  font-size: calc(10px + 1.5vw);
  font-weight: 700;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#b26ae1), to(#6a5bb4));
  background-image: linear-gradient(to right, #b26ae1, #6a5bb4);
}

.revenue__course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(8px + 0.35vw);
  font-family: 'Lato', sans-serif;
  color: #BFBFBF;
}

/*============Revenue========*/
/*-----Main Customers----- */
.main__customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.187em 0 0 1.187em;
}

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.187em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.875em 1.875em 2.187em 1.875em;
  background-color: #ffffff;
}

.feed h2 {
  font-size: calc(10px + 0.3vw);
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #777777;
}

.feed .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.feed .container a {
  text-decoration: none;
}

.feed .container .link--turner::after {
  content: '10 Min Ago';
  font-size: calc(10px + 0.05vw);
  color: #979796;
}

.feed .container .link--quill::after {
  content: '15 Min Ago';
  font-size: calc(10px + 0.05vw);
  color: #979796;
}

.feed .container span {
  font-weight: 900;
  color: #777777;
}

.feed .container p {
  text-align: left;
  padding: 1.125em;
  background-color: #FCFCFC;
  border: 1px solid #F1F1F1;
  font-size: calc(12px + 0.05vw);
  font-weight: lighter;
  color: #BFBFBF;
}

.feed .container .feed__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feed .container .feed__message a {
  margin-right: 20px;
}

.feed .container .feed__message--additional {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 330px;
  padding-left: 0.875em;
  border-left: 2px solid #F1F1F1;
  margin: 1.187em 0 1.187em auto;
}

.feed .container .feed__message--additional p:nth-child(1) {
  margin-bottom: 1.187em;
}

/*=======Customers---feed========*/
.today__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 501px;
  height: 245px;
  margin-bottom: 1.187em;
  padding: 1.25em;
  background: #ffffff;
}

.today__task h3 {
  font-size: calc(10px + 0.3vw);
  text-align: start;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #777777;
}

.today__task ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.today__task ul li:nth-child(even) {
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  background: #FCFCFC;
}

.today__task ul li:nth-child(1) {
  border-top: 1px solid #EDEDED;
}

.today__task ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.today__task ul li .task__botton {
  width: 17px;
  height: 17px;
}

.today__task ul li .task__botton:hover {
  background: #EFEFEF;
}

.today__task ul li .task__botton:active {
  width: 17px;
  height: 17px;
  border: none;
  background: url(../img/main/btn-ok.png);
}

.today__task ul li h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: calc(10px + 0.15vw);
  color: #FD566F;
  background-clip: text;
}

.today__task ul li span {
  margin: 0.875em;
  font-family: 'Lato', sans-serif;
  font-size: calc(10px + 0.05vw);
  color: #BFBFBF;
}

.today__task ul li .task__time {
  color: #9C9C9C;
}

.today__task ul li .task__time::before {
  margin-right: 0.312em;
  content: url(../img/main/clock.svg);
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*-----Main Customers----- */
/*======Main Indikators=====*/
.main__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress {
  width: 241px;
  height: 245px;
  margin-right: 1.187em;
  padding: 1.875em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #00000033;
          box-shadow: 0 0 10px #00000033;
}

.progress h2 {
  font-size: calc(10px + 0.3vw);
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #777777;
}

.progress .graphic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.625em auto 1.125em auto;
}

.progress .graphic div {
  width: 11px;
  height: 88px;
  border-radius: 30px;
  border: 1px solid #F1F1F1;
  background-color: #F6F6F6;
  margin: auto 0.25em;
  position: relative;
}

.progress .graphic :nth-child(1)::before {
  content: '';
  width: 11px;
  height: 48px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7089E5), to(#8743B1));
  background: linear-gradient(#7089E5, #8743B1);
  position: absolute;
  bottom: -1px;
  left: 113px;
  z-index: 10;
}

.progress .graphic :nth-child(1)::after {
  content: '';
  width: 11px;
  height: 41px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7089E5), to(#8743B1));
  background: linear-gradient(#7089E5, #8743B1);
  position: absolute;
  bottom: -1px;
  left: 37px;
  z-index: 10;
}

.progress .graphic :nth-child(2)::before {
  content: '';
  width: 11px;
  height: 48px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7089E5), to(#8743B1));
  background: linear-gradient(#7089E5, #8743B1);
  position: absolute;
  bottom: -1px;
  left: -20px;
}

.progress .graphic :nth-child(2)::after {
  content: '';
  width: 11px;
  height: 48px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7089E5), to(#8743B1));
  background: linear-gradient(#7089E5, #8743B1);
  position: absolute;
  bottom: -1px;
  left: 37px;
  z-index: 10;
}

.progress .graphic :nth-child(3)::before {
  content: '';
  width: 11px;
  height: 61px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7089E5), to(#8743B1));
  background: linear-gradient(#7089E5, #8743B1);
  position: absolute;
  bottom: -1px;
  left: 94px;
  z-index: 10;
}

.progress .graphic :nth-child(3)::after {
  content: '';
  width: 11px;
  height: 61px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7089E5), to(#8743B1));
  background: linear-gradient(#7089E5, #8743B1);
  position: absolute;
  bottom: -1px;
  left: 37px;
  z-index: 10;
}

.progress .graphic :nth-child(4)::before {
  content: '';
  width: 11px;
  height: 41px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7089E5), to(#8743B1));
  background: linear-gradient(#7089E5, #8743B1);
  position: absolute;
  bottom: -1px;
  left: 37px;
  z-index: 10;
}

.progress .graphic :nth-child(4)::after {
  content: '';
  width: 11px;
  height: 61px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7089E5), to(#8743B1));
  background: linear-gradient(#7089E5, #8743B1);
  position: absolute;
  bottom: -1px;
  left: -39px;
  z-index: 10;
}

.shipments {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 241px;
  height: 245px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 10px #00000033;
          box-shadow: 0 0 10px #00000033;
}

.shipments h2 {
  font-size: calc(10px + 0.3vw);
  text-align: center;
  padding-top: 1.937em;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #777777;
}

.progress p {
  font-size: calc(14px + 0.5vw);
  color: #8743B1;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.foto__map {
  background: url(../Final/sourse/img/main/map.svg);
  width: 187px;
  height: 115px;
  margin: 1.5em 0 0 1.812em;
  z-index: 5;
}

.nevada__pointer {
  position: absolute;
  z-index: 10;
  background: url(/source/img/main/point.png);
  width: 15px;
  height: 21px;
  top: 89px;
  left: 49px;
}

.minnesota__pointer {
  position: absolute;
  z-index: 10;
  background: url(/source/img/main/point.png);
  width: 15px;
  height: 21px;
  top: 73px;
  left: 123px;
}

.pennsilvania__pointer {
  position: absolute;
  z-index: 10;
  background: url(/source/img/main/point.png);
  width: 15px;
  height: 21px;
  top: 89px;
  left: 177px;
}

.colorado__pointer {
  position: absolute;
  z-index: 10;
  background: url(/source/img/main/point.png);
  width: 15px;
  height: 21px;
  top: 102px;
  left: 88px;
}

.arizona__pointer {
  position: absolute;
  z-index: 10;
  background: url(/source/img/main/point.png);
  width: 15px;
  height: 21px;
  top: 127px;
  left: 59px;
}

.texas__pointer {
  position: absolute;
  z-index: 10;
  background: url(/source/img/main/point.png);
  width: 15px;
  height: 21px;
  top: 129px;
  left: 106px;
}

.alabama__pointer {
  position: absolute;
  z-index: 10;
  background: url(/source/img/main/point.png);
  width: 15px;
  height: 21px;
  top: 127px;
  left: 156px;
}

.shipments__indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indicators__sum {
  color: #FD5272;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: calc(15px + 0.2vw);
  padding: 1.187em 0 0 1.5em;
}

.indicators__course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.3em 0 0 2.812em;
  color: #BFBFBF;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: calc(10px + 0.1vw);
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 268px;
  -webkit-box-shadow: 0 4px 10px #00000033;
          box-shadow: 0 4px 10px #00000033;
}

aside .aside__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(77deg, #fd5272 0%, #ea6d54 100%);
}

aside .aside__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

aside .aside__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 47px;
}

aside .aside__link--users {
  background: url(../img/aside/users.svg) center center no-repeat;
}

aside .aside__link--chat {
  background: url(../img/aside/chat-icon.svg) center center no-repeat;
}

aside .aside__link--like {
  background: url(../img/aside/like.svg) center center no-repeat;
}

aside .chat__users {
  background-color: #ffffff;
}

aside .profile__name {
  padding: 0.25em 0;
}

aside .profile__name h4 {
  font-size: calc(10px + 0.4vw);
  color: #777777;
}

aside .profile__name h5 {
  font-size: calc(10px + 0.137vw);
  color: #BFBFBF;
  padding-top: 0.312em;
}

aside .profile-menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside .profile-menu__info img {
  padding-right: 1.062em;
}

aside ul {
  padding: 0 1.125em;
}

aside li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #F1F1F1;
  padding: 1.25em 0;
}

aside .chat__botton--messages {
  width: 24px;
  height: 20px;
  background: url(../img/aside/chat-icon.svg) center center no-repeat;
  border: none;
  outline: none;
  margin-top: 0.75em;
  position: relative;
  cursor: pointer;
}

aside .chat__botton--messages:hover {
  width: 25px;
  height: 20px;
  background-size: cover;
}

.aside__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
  padding: 0.937em 0;
  background: #FCFCFC;
}

.aside__form .search__text {
  width: 170px;
  border: none;
  border-bottom: 1px solid #E9E9E9;
}

.aside__form .search__text::-webkit-input-placeholder {
  font-weight: 300;
  font-size: calc(8px + 0.07vw);
  color: #C0C0C0;
}

.aside__form .search__text:-ms-input-placeholder {
  font-weight: 300;
  font-size: calc(8px + 0.07vw);
  color: #C0C0C0;
}

.aside__form .search__text::-ms-input-placeholder {
  font-weight: 300;
  font-size: calc(8px + 0.07vw);
  color: #C0C0C0;
}

.aside__form .search__text::placeholder {
  font-weight: 300;
  font-size: calc(8px + 0.07vw);
  color: #C0C0C0;
}

.aside__form .search__submit {
  width: 20px;
  height: 20px;
  margin: 0 0.625em;
  background: url(../img/aside/aside-zoom.svg) center center no-repeat;
  border: none;
  cursor: pointer;
}

.aside__form .search__reset {
  width: 20px;
  height: 20px;
  margin-right: 0.473em;
  background: url(../img/aside/aside-pensil.svg) center center no-repeat;
  border: none;
  cursor: pointer;
}

.featured__companys {
  background-color: #FFFFFF;
  width: 273px;
  height: 229px;
}

.featured__companys h2 {
  padding-top: 1.812em;
  font-size: calc(15px + 0.1vw);
  color: #777777;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.812em;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 20px;
  margin-right: 0.812em;
}

.footer__rdio {
  margin-left: 1.937em;
  margin-bottom: 1em;
  background: -webkit-gradient(linear, left bottom, left top, from(#6A5BB4), to(#C28BE5));
  background: linear-gradient(0deg, #6A5BB4, #C28BE5);
}

.footer__css {
  background: -webkit-gradient(linear, left bottom, left top, from(#4DBDC4), to(#6FEACC));
  background: linear-gradient(0deg, #4DBDC4, #6FEACC);
}

.footer__deviantart {
  background: -webkit-gradient(linear, left bottom, left top, from(#B3717A), to(#F7CCAE));
  background: linear-gradient(0deg, #B3717A, #F7CCAE);
}

.footer__xing {
  margin-left: 31px;
  background: -webkit-gradient(linear, left bottom, left top, from(#8B4EB5), to(#7E92E5));
  background: linear-gradient(0deg, #8B4EB5, #7E92E5);
}

.footer__vimeo {
  background: -webkit-gradient(linear, left bottom, left top, from(#578DE7), to(#40CFE0));
  background: linear-gradient(0deg, #578DE7, #40CFE0);
}

.footer__vk {
  background: -webkit-gradient(linear, left bottom, left top, from(#F59083), to(#FBD78C));
  background: linear-gradient(0deg, #F59083, #FBD78C);
}

/*font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1366px;
  height: 1000px;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  background-color: #e4e0e0;
}
/*# sourceMappingURL=main.css.map */